h1 {
  color: green;
  text-align: center;
  }
  
p{
  color: red;
  font-weight: 200px;
}
#crypto {
  bottom: -8%;
  position: relative;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 8s;
}
@-webkit-keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;    
  }
}